{% assign q = site.data.groups.peerlist | where: "order", include.order | first %}

<p>
The order secretary is
{{ q.scaname }}{% unless q.mundanename == "" %} ({{ q.mundanename }}){% endunless %}.
Email <a href="mailto:{{ q.email }}">{{ q.email }}</a>
</p>
