---
title: Chainmail Judging Criteria
---
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use of item, etc.)<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Style should be judged as best as possible, taking documentation into account. (Are materials the best modern substitutes?) Riveted mail should produce bonus points. Remember that depending upon the period the piece is representing and/or the country of origin, chainmail may or may not have been riveted. Consider the following concepts when scoring:<br />
• 0: Totally out of period and blatantly modern<br />
• 1-2: Entry is appropriate to time/place stated in documentation.<br />
• 3-4: Entry bears some semblance to period with some obvious modern elements or mixture of elements from different cultures or periods. (e.g., modern process producing results equivalent to period process)<br />
• 5-6: Overall period style and execution with minor inconsistencies, period materials or gives period effect.<br />
• 7-8: Period methods, design and execution with no inconsistencies; period materials or reasonable equivalents<br />
• 9-10: Special effort to achieve completely period product by use of period design, materials, tools, techniques, etc. without modern shortcuts (Ex. all hand-done with period techniques); special effort to make entirely authentic.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• 1: Extremely simple (i.e. - chainmail belt)<br />
• 2-3: Simple (i.e. - chainmail tasse, camail or aventail )<br />
• 4: Not hard (i.e. - a coif)<br />
• 5-6: Hard (i.e. - a hauberk)<br />
• 7-8: Difficult (i.e. - hauberk, coif, etc with a design worked in it with a second pattern or metal, or made from riveted mail)<br />
• 9-10: Extremely Difficult (i.e. - complete piece of armor from riveted mail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Attention to details, neatness and finishing touches (good closures on rings).<br />
• Ability of entry to serve intended function (combat or dress/display).<br />
• Choice of materials (correct ring size/wire gauge for type of entry).<br />
• Durability of the item (wire gauge correct to survive wear/usage).<br />
• Mastery of period style and practice.<br />
• Difficulty and variety of methods, techniques, and materials (ex. Multiple metals)</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>
<p><B>EXTRA POINTS SHOULD BE GIVEN FOR HAVING ALL GOOD RINGS.</b></p>