---
title: Glasswork Judging Criteria
---

This category includes Glassblown pieces, Lampwork and Beadwork.</p>
<p>DOCUMENTATION(3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) .), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design with rationale for design elements, techniques and materials used and appropriateness to item's purpose and to period.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern<br />
• 1-2: Modern (dichroic glass, modern shape) but with some period elements<br />
• 3-4: Generally period, with some obviously modern elements present (Ex. copper foil, dichroic glass)<br />
• 5-6: Work is appropriate to stated time and place.<br />
• 7-8: Style (shape, size) and decorations (stringers, millifiori, feathering, etc. ) seem entirely period<br />
• 9-10: Period materials and procedures used whenever possible.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• 1: Small, basic shapes and forms with no ornamentation (small beads, shot glasses)<br />
• 2: Small, Non-basic shapes and forms with no ornamentation.<br />
• 3: Small, basic shapes and forms with simple ornamentation (stringers, dots) or medium-sized pieces with no ornamentation.<br />
• 4-5: Small, basic shapes and forms with complex ornamentation (millifiori, feathering)<br />
• 6-7: Medium forms with simple ornamentation or large, unornamented forms.<br />
• 8-9: Mediums forms with complex ornamentation or large forms with some ornamentation.<br />
• 10: Large forms with complex ornamentation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Form and function Ability of entry to serve intended function.<br />
• Control of form. Number and size of bubbles? Sharp edges?<br />
• Attention to details, neatness and finishing touches.<br />
• Use of ornamentation.<br />
• Choice of materials/design combinations and appropriate application of design(s)<br />
• Effective use of materials, tools, and designs.<br />
• Durability of the item (able to survive wear/usage).<br />
• Mastery of period style and practice.<br />
• Level of personalization or special embellishment.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>